<div class="step-body">
  <div class="clearfix">
    <%= render 'shared/login', session: @user_session %>

    <div class="checkout-register">
      <div class="register-content">
        <h2 class="opc-subheader"><%=t '.nieuwe_klant' %></h2>
        <ul class="register-methods">
          <li class="one">
            <input class="radio valign" name="checkout_type" value="" checked="checked" type="radio">
            <label><span class="method-title"><%=t '.registreer' %></span><span class="method-hint"><%=t '.register_hint' %></span></label>
          </li>
          <li>
          <input class="radio valign" name="checkout_type" value="" type="radio">
          <label><span class="method-title"><%=t '.afrekenen_als_gast' %></span><span class="method-hint"><%=t '.checkout_as_guest_hint' %></span></label>
          </li>
        </ul>
      </div>

      <div class="checkout-buttons">
        <input value="<%=t 'checkout.index.registreer' %>" class="register main-button" type="submit">
      </div>

     <div id='register-form' class='modal'>
        <%= render 'shared/register_form', user: @user, url: :checkout %>
      </div>

    </div>
  </div>
  <div class="clear"></div>
</div>
