<script type="text/javascript">
 var RecaptchaOptions = {
    theme : 'white',
    lang: '<%= I18n.locale %>',
    tabindex: 4
 };
 <% if params[:modal] && params[:modal] == 'register' %>
   $(function(){ $('#register-form').modal(); })();
 <% end %>
</script>
<%= stylesheet_link_tag 'jquery.modal' %>

<div class="breadcrumb">
  <a href="/">Home</a>&nbsp;»&nbsp;<%=t '.page-title' %>
</div>

<div class="content">
  <div class="opcbox-main clearfix">
    <h1 class="page-title"><%=t '.page-title' %></h1>
    <div class="opcbox-body">
      <div class="checkout-steps clearfix">
        <div class="step-container <%= step_one %>">
          <h2 class="step-title clearfix"><span class="step-number">1</span><%=t '.auth' %></h2>
          <% if @step == 1 %>
            <%= render 'checkout/step_one' %>
          <% end %>
        </div>
        <div class="step-container <%= step_two %>">
          <h2 class="step-title clearfix">
            <span class="step-number">2</span><%=t '.factuur_en_verzendadres' %>
          </h2>
          <% if @step == 2 %>
            <%= render 'checkout/step_two' %>
          <% end %>
        </div>

        <div class="step-container <%= step_tree %>">
          <h2 class="step-title clearfix">
            <span class="step-number">3</span><%=t '.verzendopties' %>
          </h2>
          <% if @step == 3 %>
            <%= render 'checkout/step_three' %>
          <% end %>
        </div>

        <div class="step-container <%= step_four %>">
          <h2 class="step-title clearfix">
            <span class="step-number">4</span><%=t '.factureringsopties' %>
          </h2>
          <% if @step == 4 %>
            <%= render 'checkout/step_four' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'order_summary' %>
</div>
