<% if @password %>
  <p> Welcome, You are the Super Admin user. </p>
  <p>Your email and login is: <%= @user.email %> </p>
  <p>Your password is: <%= @password %> </p>
  <p>PLEASE WRITE THIS INFORMATION DOWN.</p>
<% end %>

<% if @no_roles %>
  <p>
    <b>You need to run rake db:seed</b>
  </p>
<% else %>
  <table>
    <tr>
      <td>
        <h3>Recent products</h3>
        <p>
          <% if @products %>
          <table>
            <% @products.each do |product| %>
              <tr>
                <td><%= link_to product.name,  admin_merchandise_multi_product_path(product.id) %></td>
                <td><%= product.created_at.to_formatted_s(:short) %></td>
              </tr>
            <% end %>
          <% else %>
           <tr><td>You don't have any products.</td></tr>
          <% end %>
          </table>
        </p>
      </td>
      <td>
        <h3>Orders</h3>
        <table>
          <% if @orders %>
            <tr>
              <% @orders.each do |order| %>
                <td><%= order.name %></td>
                <td><%= order.created_at.to_formatted_s(:short) %></td>
              <% end %>
            </tr>
          <% else %>
           <tr><td>You don't have any orders.</td></tr>
          <% end %>
        </table>
      </td>
      <td>
        <h3>Reports</h3>
        <p><%= link_to 'graphs', admin_reports_graphs_path %></p>
      </td>
    </tr>
    <tr>
      <td>

        <% if current_user.merchant_id.nil? %>
          <h3>Merchants</h3>
          <%= render 'admin/merchants/merchants' %>
          <%= link_to 'see all', admin_merchants_path %>
        <% else %>
          <h3>Company's profile</h3>
          Name: <%= current_user.merchant.name %><br/>
          Url:  <%= current_user.merchant.url %><br/>
          Contact email: <%= current_user.merchant.email %><br/>
          Contant phone: <%= current_user.merchant.phone %><br/>
          Description: <%= current_user.merchant.description %>
        <% end %>
      </td>
      <td>
        <h3>Need support?</h3>
        <img src='https://scontent-a-ams.xx.fbcdn.net/hphotos-frc1/t1.0-9/15973_514561085278666_1124446612_n.jpg' />
        <br/>
        Email: <a href='mailto:merchant@shopping.in'>merchant@shopping.in</a>
      </td>
      <td>

      </td>
    </tr>
  </table>
<% end %>