<script type="text/javascript">
 var RecaptchaOptions = {
    theme : 'white',
    lang: '<%= I18n.locale %>',
    tabindex: 4
 };
 </script>

<div class="breadcrumb">
  <a href="/">Home</a>&nbsp;»&nbsp;<%=t '.page-title' %>
</div>

<div class="content">
  <div class="opcbox-main clearfix">
    <h1 class="page-title"><%=t '.page-title' %></h1>
    <div class="opcbox-body">
      <div class="checkout-steps clearfix">
        <div class="step-container-active">
          <h2 class="step-title-active clearfix"><span class="step-number">1</span><%=t '.auth' %></h2>
          <div class="step-body-active">
            <div class="clearfix">

              <div class="login-form">
                <form method="post">
                  <div class="checkout-login-form">
                      <h2 class="opc-subheader"><%=t '.returning_customer' %></h2>
                      <div class="control-group">
                        <label>E-mail</label>
                        <input name="user_login" size="30" placeholder="E-mail adres" value="" class="opc-input-text" type="text">
                      </div>
                      <div class="control-group password">
                        <label class="forgot-password-label"><%=t '.password' %></label><a href="" class="forgot-password"><%=t '.forgot-password' %></a>
                        <input name="password" size="30" placeholder="Wachtwoord" value="" class="opc-input-text" maxlength="32" type="password">
                      </div>
                      <div class="captcha control-group">
                        <label>Captcha</label>
                        <%= recaptcha_tags %>
                      </div>
                    </div>
                    <div class="checkout-buttons clearfix">
                      <div class="clearfix">
                       <div style="float:right;"><input class="main-button" value="<%=t '.aanmelden' %>" type="submit"></div>
                        <div class="remember-me-chekbox">
                        <label class="valign"><input type="checkbox"><%=t '.remember_me' %></label>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="checkout-register">
                <div class="register-content">
                  <h2 class="opc-subheader"><%=t '.nieuwe_klant' %></h2>
                  <ul class="register-methods">
                    <li class="one">
                      <input class="radio valign" name="checkout_type" value="" checked="checked" type="radio">
                      <label><span class="method-title"><%=t '.registreer' %></span><span class="method-hint"><%=t '.register_hint' %></span></label>
                    </li>
                    <li>
                    <input class="radio valign" name="checkout_type" value="" type="radio">
                    <label><span class="method-title"><%=t '.afrekenen_als_gast' %></span><span class="method-hint"><%=t '.checkout_as_guest_hint' %></span></label>
                    </li>
                  </ul>
                </div>

                <div class="checkout-buttons">
                  <input value="<%=t '.registreer' %>" class="main-button" type="submit">
                </div>

              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>

        <div class="step-container step-two">
          <h2 class="step-title clearfix">
            <span class="step-number">2</span><a class="title"><%=t '.factuur_en_verzendadres' %></a>
          </h2>
        </div>

        <div class="step-container">
          <h2 class="step-title clearfix">
            <span class="step-number">3</span><a class="title"><%=t '.verzendopties' %></a>
          </h2>
        </div>

        <div class="step-container step-four">
          <h2 class="step-title clearfix">
            <span class="step-number">4</span><a class="title"><%=t '.factureringsopties' %></a>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="order-summary">
    <h3 class="sidebox-title"><%=t '.samenvatting_bestelling' %></h3>
    <div class="sidebox-body">
      <div class="checkout-summary">
        <table>
          <tbody class="tbody">
            <tr>
              <td>3 item(s)</td>
              <td class="right"><span>€1.297.00</span></td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="code-input discount-coupon">
                  <form action="" method="post">
                    <div class="control-group input-append">
                      <label for="coupon_field">Coupon code</label>
                      <input class="opc-input-text" size="40" value="" placeholder="Vul coupon code hier in..." type="text">
                    </div>
                  </form>
                </div>
              </td>
            </tr>
            </tbody>
            <tbody class="total">
              <tr>
                <th colspan="2">
                  Totaal
                  <span class="total-sum">€699.00</span>
                </th>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="opc-sidebox order-products">
    <h3 class="sidebox-title"><%=t '.producten_in_uw_bestelling' %></h3>
    <div class="sidebox-body">
      <ul class="order-product-list">
      <li>
      <a href="" class="product-name">Lorem ipsum dummy text</a>
      <a href="" class="delete"> X</a>
      <span class="product-price">1&nbsp;x&nbsp;€699.00</span>
      </li>
      <li>
      <a href="" class="product-name">Lorem ipsum dummy text</a>
      <a href="" class="delete"> X</a>
      <span class="product-price">1&nbsp;x&nbsp;€199.00</span>
      </li>
      <li>
      <a href="" class="product-name">Lorem ipsum dummy text</a>
      <a href="" class="delete"> X</a>
      <span class="product-price">1&nbsp;x&nbsp;€399.00</span>
      </li>
      </ul>
    </div>
  </div>
</div>