<div class="breadcrumb">
<a href="/">Home</a>
&nbsp;&raquo;&nbsp;
<a href="/">Herenmode</a>
&nbsp;&raquo;&nbsp;
Jassen
</div>

<div class="rightbox">

<div class="title-block ">
<h1>Jassen</h1>
</div>



<div class="products">
<div class="finetuning">

<div class="pages">
  <%= paginate @products %>
</div>

Toon per pagina&nbsp;&nbsp;
<select class="showperpage styled">
<option value="6">16</option>
<option value="32">32</option>
<option value="64">64</option>
<option value="128">128</option>
<option value="Alle">Alle</option>
</select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Sorteren op&nbsp;&nbsp;
<select class="sorting styled">
<option value="Titel">Titel</option>
<option value="Prijs">Prijs</option>
<option value="Nieuw">Nieuw</option>
</select>


</div>

<ul class="articles">
  <% @products.each_with_index do |product, i| %>
  <li>
    <%= link_to image_tag(product.featured_image(:wwi)), product_path(product), title: product.name %>

    <div class="product_text">
      <p>
        <%= link_to product.name, product_path(product), title: product.name %>
      </p>
      <p class="brand">
        <a href="/">Blue Blood</a>
      </p>
      <span class="price strike"><%= number_to_currency product.price_range.first %> EUR</span>
      <span class="discount"><%= number_to_currency product.price_range.last %> EUR</span>
    </div>
  </li>
  <% end %>
</ul>

<div class="finetuningbottom">
<div class="pages">
  <%= paginate @products %>
</div>


Toon per pagina&nbsp;&nbsp;
<select class="showperpage styled">
<option value="6">16</option>
<option value="32">32</option>
<option value="64">64</option>
<option value="128">128</option>
<option value="Alle">Alle</option>
</select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Sorteren op&nbsp;&nbsp;
<select class="sorting styled">
<option value="Titel">Titel</option>
<option value="Prijs">Prijs</option>
<option value="Nieuw">Nieuw</option>
</select>


</div>

</div>

</div>


<div class="sidebar">
  <%= render 'sidebar', product: @product %>
</div>
